<!DOCTYPE html>
<html>

<head>
  <title>
    DeALs NLP Test
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <link rel='stylesheet' href='https://bootswatch.com/4/flatly/bootstrap.min.css' />

  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/compromise@latest/builds/compromise.min.js"></script>
</head>

<body>
  <p>Welcome to the DeALs shallow NLP parser.
  </p>

  <!-- Development Env. for the shallow NLP  -->
  <div class="container-fluid">
    Start the sentence with "Write a rule to ..."
    <div class="row">
      <textarea class="form-control" id="sentenceInput" onkeyup="keyUpListener();" rows="2">Write a rule to do something here!</textarea>
    </div>
    <br>
    <div class="row justify-content-center">
      <button type="button" id="parseSentence" class="btn btn-info">parseSentence</button>
    </div>
    <br>
    <div class="row">
      <textarea class="form-control" id="nlpOutput" rows="12">Shallow NLP output</textarea>
    </div>
    <br>
    <br> List of Databases:
    <div class="row">
      <ul class="list-group" id="databaseList">
      </ul>
    </div>
    <br>
    <br> Example Queries:
    <div class="row">
      <ul class="list-group" id="queryExamples">
        <li class="ruleList list-group-item d-flex justify-content-between align-items-center">
          Write a rule to &nbsp;
          <span style="color: green"> get </span> &nbsp; the &nbsp;
          <span style="color: red">names</span> &nbsp; of authors who have published at least one&nbsp;
          <span style="color: blue">paper</span> &nbsp;in the &nbsp;
          <span style="color: red">conference</span>&nbsp;.
        </li>
        <li class="ruleList list-group-item d-flex justify-content-between align-items-center">
          Write a rule to &nbsp;
          <span style="color: green">grab</span> &nbsp; the &nbsp;
          <span style="color: red">title</span> &nbsp; and &nbsp;
          <span style="color: red">author</span> &nbsp; of those who have published a &nbsp;
          <span style="color: blue">paper</span> &nbsp;in the &nbsp;
          <span style="color: red">ACM conference</span>.
        </li>
        <li class="ruleList list-group-item d-flex justify-content-between align-items-center">
          Write a rule &nbsp;
          <span style="color: green">find</span> &nbsp;the&nbsp;
          <span style="color: red">id </span> &nbsp;of authors who have published&nbsp;
          <span style="color: red">at least five</span>&nbsp;
          <span style="color: blue">papers</span>.
        </li>
      </ul>
    </div>
  </div>

  <script>

    function keyUpListener() {
      var key = event.hasOwnProperty('which') ? event.which : event.keyCode;
      if ($('#sentenceInput').val().startsWith("Write a rule to")) {
        $('#parseSentence').click();
      }
    }

    class nounClause {
      constructor(value, type) {
        this.value = value;
        this.type = type;
      }
    }

    class verbClause {
      constructor(value, type) {
        this.value = value;
        this.type = type;
      }
    }

    class dBs {
      constructor(name, args) {
        this.name = name;
        this.args = args;
      }
    }

    let listDbs = [ new dBs('paper', [ 'Id', 'Title', 'Author', 'Conference', 'Year' ]), new dBs('test', [ 'X', 'Y' ]) ];

    $(function () {

      /*
      * Populate the DB List for the user to see what the valid databases are.
      */
      let $dbList = $('#databaseList');
      let dbNameSet = new Set();
      listDbs.forEach(db => {
        dbNameSet.add(db.name);
        let str = db.name + ' (';
        db.args.forEach(arg => {
          str = str + arg + ', ';
        })
        str = str.substring(0, str.length - 2) + ')';
        //$dbList.val($dbList.val() + str + '\n');
        let ruleString = `<li class="ruleList list-group-item d-flex justify-content-between align-items-center">
            ${str} </li>\n`
        $dbList.append(ruleString);
      });

      //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
      //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
      //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
      /*
      * Experimental NLP Code
      */
      $('#parseSentence').click(function () {
        event.preventDefault();
        let sentence = $('#sentenceInput').val();
        let startProcessingBody = false;

        // Sentence must start with "Write a rule to"
        if (sentence.startsWith("Write a rule to")) {
          sentence = sentence.replace("Write a rule to", "");
          let grabNoun = nlp(sentence).match('(get|grab|search|find|pull|obtain|pick) * [#Noun]');
          let deleteString = nlp(sentence).match('(get|grab|search|find|pull|obtain|pick) * #Noun');
          let $outputval = $('#nlpOutput');
          // only if there is an eligible noun should processing start
          if (grabNoun.text() != "") {
            var str = grabNoun.out('terms');
            $outputval.val(JSON.stringify(str));

            let nounSet = new Set();
            nounSet.add(new nounClause((grabNoun.text().charAt(1).toUpperCase() + grabNoun.text().slice(2)).replace(/[^\w\s]|_/g, "")
              .replace(/\s+/g, " "), 'head')); // add the found noun as a head variable

            let endHeadParsing = false;
            sentence = sentence.replace(deleteString.text(), "");

            // Only if there is a having or of or from in the text should it do the rest of the head parsing 
            if (nlp(sentence).match('* (having|of|from)').text() != "" || nlp(sentence).match('(having|of|from)').text() != "") {
              while (!endHeadParsing) {
                if (sentence == "") {
                  endHeadParsing = true;
                }
                grabNoun = nlp(sentence).match('* [#Noun] * (having|of|from)');
                console.log(grabNoun.text());
                grabNoun2 = nlp(sentence).match('[#Noun] * (having|of|from)');
                console.log(grabNoun2.text());
                if (grabNoun.text() != "" || grabNoun2.text() != "") {
                  let grabbedNoun = grabNoun2.text() != "" ? grabNoun2 : grabNoun;
                  deleteString = sentence.substring(0, sentence.indexOf(' ', sentence.indexOf(grabbedNoun.text()) + 1));
                  console.log("deleteString " + deleteString);
                  nounSet.add(new nounClause((grabbedNoun.text().charAt(1).toUpperCase() + grabbedNoun.text().slice(2)).replace(/[^\w\s]|_/g, "")
                    .replace(/\s+/g, " "), 'head'));
                  $outputval.val($outputval.val() + ", " + JSON.stringify(grabbedNoun.out()));
                  sentence = sentence.replace(deleteString, "");
                }
                else {
                  endHeadParsing = true;
                }
              }

              // Now the head is done being constructed, so print out the head string for the query
              let constructedHeadString = 'Query_Name(';
              for (let noun of nounSet) {
                if (noun.type == "head")
                  constructedHeadString = constructedHeadString + noun.value + ", ";
              }
              constructedHeadString = constructedHeadString.substring(0, constructedHeadString.length - 2) + ') <- ';
              $outputval.val(constructedHeadString);
              startProcessingBody = true;
            }

            if (startProcessingBody) {

            }
          }
        }
        else {
          alert('The sentence must start with \'Write a rule to\'');
        }
      });

    });
  </script>

</body>

</html>
